<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <context-param>
        <param-name>aplicacao</param-name>
        <param-value>app1</param-value>
    </context-param>
    <servlet>
        <servlet-name>NewServlet</servlet-name>
        <servlet-class>UFJF.NewServlet</servlet-class>
        <init-param>
            <param-name>url</param-name>
            <param-value>www.ufjf.br</param-value>
        </init-param>
        <init-param>
            <param-name>usuario</param-name>
            <param-value>user1</param-value>
        </init-param>
        <init-param>
            <param-name>senha</param-name>
            <param-value>abc123</param-value>
        </init-param>
    </servlet>
    <servlet-mapping>
        <servlet-name>NewServlet</servlet-name>
        <url-pattern>/NewServlet</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <error-page>
        <error-code>404</error-code>
        <location>/erro.html</location>
    </error-page>
</web-app>
